---
import Layout from '@layouts/Default.astro';
import {Card} from "@eliancodes/brutal-ui";

import {type CollectionEntry, getCollection} from 'astro:content';

export async function getStaticPaths() {
    const questions = await getCollection('questions');
    return questions.map((question) => ({
        params: {number: question.data.number},
        props: {questionObject: question},
    }));
}

interface Props {
    questionObject: CollectionEntry<'questions'>;
}

const questions = await getCollection('questions');
const {questionObject} = Astro.props;
const question = questionObject.data
---

<Layout
        title=`${question.number}. Question`
        pageTitle=`Question ${question.number} out of ${questions.length}`
        description=`${question.english.question}`
        classList='bg-red'
>
    <main class='bg-pink p-6'>
        <section id='question' class='gap-8 mt-4'>
            <div>
                <Card>
                    <div class='flex flex-col justify-between items-start gap-4'>
                        <h1 class='mt-4 mb-6 outfit text-5xl lg:text-7xl'>
                            {question.english.question}
                        </h1>
                    </div>
                </Card>
            </div>
        </section>
        <section id='answers' class='grid md:grid-cols-4 xl:grid-cols-8 gap-4 lg:gap-8 mt-16 md:mt-6'>
            <div class='col-span-2'>
                <a href=`/en/solution/${question.number}?clicked=a`>
                    <Card>
                        <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                            {question.english.a}
                        </p>
                    </Card>
                </a>
            </div>
            <div class='col-span-2'>
                <a href=`/en/solution/${question.number}?clicked=b`>
                    <Card>
                        <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                            {question.english.b}
                        </p>
                    </Card>
                </a>
            </div>
            <div class='col-span-2'>
                <a href=`/en/solution/${question.number}?clicked=c`>
                    <Card>
                        <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                            {question.english.c}
                        </p>
                    </Card>
                </a>
            </div>
            <div class='col-span-2'>
                <a href=`/en/solution/${question.number}?clicked=d`>
                    <Card>
                        <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                            {question.english.d}
                        </p>
                    </Card>
                </a>
            </div>
        </section>
    </main>
</Layout>
